* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary:#0d1b48!important; 
    --text-primary: #fff!important;
    --bg-sub: #f5f9fe!important;
    --bg-btn-danger:#c33c54!important;
    --a-hover: #d9d9d9!important;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
}

.btn {
    padding: 0.55rem 0.95rem;
    transition: all .2s ease;
}

.animate-hover-up:hover {
    transform: translate(0,-2px);
}


a {
    text-decoration: none;
    transition: all .2s ease;
}

img {
    max-width: 100%;
}

.section {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

@media (min-width: 768px) {
    .section-sm {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }   
    .section-lg {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}
/* Header */

header {
    background-color: var(--bg-primary);
}
.navbar {
    background: var(--bg-primary);
}
.navbar-nav .nav-link {
    color: var(--text-primary);
}

.nav-link-arrow {
    font-size: 10px;
}

.megamenu-link:hover {
    color: #c33c54!important;
}

@media (min-width:540px) {
    .dropdown-megamenu {
        min-width: 540px;
    }
    .dropdown-megamenu-sm {
        min-width: 420px;
    }
    
}

@media (min-width:768px) {
    .navbar-collapse.show {
        background-color: var(--bg-primary);
        color: var(--text-primary);
    }
}
.col-auto {
    width: auto;
    max-width: 100%;
}

@media (max-width:768px) {
    .navbar-collapse .navbar-nav {
        background: #fff;
    }
    .navbar-collapse .navbar-nav .nav-item a span,
    .navbar-collapse .navbar-nav .nav-item a i{
        color: var(--bg-primary);
    }
}

.dropdown-toggle::after {
    display: none;
}

/* Main */

/* Header */
.header__section {
    position: relative;
    background-color: var(--bg-primary);
}
.fill-white {
    fill: #fff;
}

/* presentation-mockup */
.pre-mockup__img {
    position: relative;
    margin-top: -9rem;
    z-index: 2;
}

[class*=shadow] {
    transition: all .2s ease;
}

.page-preview {
    position: relative;
    display: block;
}

.show-on-hover {
    position: absolute;
    bottom: -22.72px;
    background-color: rgba(13,27,72,.85);
    padding: 10px 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: -2s;
    width: calc(100% + 28px);
    left: -14px;
    opacity: 0;
}

@media (max-width: 576px) {
    .show-on-hover {
        width: calc(100% + 18.06px)!important;
        left: -9.03px!important;
        bottom:-15.03px;
    }
}

@media (min-width:577px)and (max-width: 768px) {
    .show-on-hover {
        width: calc(100% + 37.33px)!important;
        left: calc(-37.33px/2)!important;
        bottom:-31.03px;
    }
}


.page-preview:hover .show-on-hover {
    z-index: 99;
    opacity: 1;
}


.scale-up-hover-2:hover .scale {
    transform: scale(1.11111);
}


/* Statistics */

.icon {
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.icon-shape {
    width: 4.25rem;
    height: 4.25rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px){
    .icon-shape.icon-lg {
        width: 6rem;
        height: 6rem;
    }
    .icon-shape.icon-lg span, .icon-shape.icon-lg svg {
        font-size: 2.75rem;
    }
}

.icon-secondary span {
    color: #c33c54;
}


/* Mapbox */
.mapbox-section {
    background: var(--bg-sub);
}

.btn-outline-primary {
    color: #0d1b48;
    border-color: #0d1b48;
}

.btn-outline-primary:hover,
.btn-sub:hover {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    border-color: var(--bg-primary);
}
.btn-sub {
    color: #fff;
    background-color: #26408b;
    border-color: #26408b;
}

/* Features */

.features-section {
    background-color: var(--bg-primary);
}

.icon-secondary span {
    color: #c33c54;
}

.icon span {
    font-size: 2rem;
}

/* Folder structure */
.list-style-none {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* BrowseSync */

.browserSync-section {
    background-color: var(--bg-primary);
}
.text-underline {
    text-decoration: underline!important;
}

.text-white-hover:hover {
    color: var(--a-hover)!important;
}

.accordion-button,
.accordion-button:hover {
    box-shadow: none!important;
}

/* Price */
.price-section {
    background-color: var(--bg-sub);
}

.card-header,.card-body,.card-footer {
    border-color: var(--text-primary);
}
/* Footer */
.footer {
    background-color: var(--bg-primary);
}
.footer-links li a{
    color: var(--text-primary);
    cursor: pointer;
    display: block;
    padding: 5px;
    margin-left: -5px;
}
.footer-links li a:hover {
    color: var(--bg-btn-danger);
}